
    /* logout style*/
.logout-container {
    position: absolute;
    top: 0px;
    right: 16px;
}


.image-container{
    height:24px;
    width:24px;
}

.avatar-positon{
    position:relative;

}

.float-left {
    float: left;
}

.float-right {
    float: right;
    margin-right: 10px;
}

.btn-container {
    margin-left: 0;
}

.cancel-btn {
    padding-right: 194px;
    padding-left: 0px;
}

.continue-btn {
    margin-left: 20px;
}

.summary-container {
    margin-left: 0;
    width:90%;
}

.summary-left {
    margin-right: 70px;
    padding-left: 0px;
}

.row-setup{
    margin-left:0px;
}

/* gallary styles*/
div.gallery {
    border: 1px solid #ccc;
}

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

fieldset-new {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 1px solid;
}
